.accountWorkPlace {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 60%;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    z-index: 1; 
    border: 1px solid black;
    padding: 10px;
}

.firstLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 40px;
}

.top-left {
    width: 20px;
    height: 20px;
}
.top-right {
    font-size: var(--text-lg);
    font-family: var(--font-primary);
    font-style: thin;
}

  