html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Style for the whole page */
.checkoutPage{
    display: flex;
    flex-direction: column;
}

/* Style for header */
.header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}
.header img{
    position: absolute;
    left: 1vw;
}
.mobile-header{
    display: none;
}
/* Style for the logo */
.logo-title{
    margin-top: 2vh;
    display:flex;
    justify-content: center;
}
.logo-title img{
    transform: scale(1.2);
}
/* Style for body */
.checkout-body{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 396fr 522fr 412fr;

}
/* Style for body-shopping bag */
.shopping-bag{
    margin-left: 15%;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}
.shopping-bag-title{
    display: flex;
    position: relative;
    align-items: center;
}
.shopping-bag-title h5{
    margin-left: auto;
}
.products{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}
.productimage{
    width: 140px;
    height: 185px;
    object-fit: cover;
}
.product-info{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-style{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.size{
    font-family: var(--font-secondary);
    font-size: var(--text-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.colour-choice{
    margin-left: 50px;
    transform: scale(0.75);
}
.product-price{
    margin-top: 15px;
    font-family: var(--font-primary);
    font-size: var(--text-md);  
}
.remove{
    margin-top: 25px;
    font-family: var(--font-secondary);
    font-size: var(--text-sm); 
    text-decoration: underline;
}
.add-quantity{
    margin-left: 70px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
/* Style for body-forms*/
.forms{
    margin-left: 10%;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms-title p{
    font-family: var(--font-secondary);
    font-size: var(--text-lg);
}

.forms-login{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    transform: scale(0.95);   
}
.forms-login > * + *{
    margin-left: 10px;
}

.cut-off-line{
    display: grid;
    grid-template-columns: 245fr 18fr 245fr;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
}
.cut-off-line p{
    grid-column: 2/3;
    font-family: var(--font-secondary);
    font-size: var(--text-sm);
}
#line-1{
    grid-column: 1/2;
}
#line-2{
    grid-column: 3/4;
}

.tips{
    margin-top: 1vh;
    font-family: var(--font-secondary);
    font-size: var(--text-md);
    color: rgba(0, 0, 0, 0.6);
}
.forms-body-title{
    margin-top: 3vh;
    margin-left: 8%;
    font-family: var(--font-secondary);
    font-size: var(--text-md);
    margin-right: auto;
}
.forms-body{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}
.forms-body > * + *{
    margin-top: 5px;
}
.form-bracket{
    border: 1.25px solid rgba(0, 0, 0, 0.4);
    height: 50px;
}
input::placeholder{
    padding-left: 5px;
    font-family: var(--font-secondary);
    font-size: var(--text-md);
    color: rgba(0, 0, 0, 0.4);
}
#First-name{
    width: 500px;
}
#Last-name{
    width: 500px;
}
#Country-Region{
    width: 500px;
}
#Street-Address{
    width: 375px;
}
#Postcode{
    width: 120px;
}
#Suburb{
    width: 230px;
}
#State{
    width: 265px;
}
/* Style for body-payments*/
.payments{
    margin-left: 10%;
    margin-right: 20%;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
}
.subtotal{
    display: flex;
    flex-direction: row;

}
.subtotal-title{
    margin-right: auto;
    font-family: var(--font-secondary);
    font-size: var(--text-md);
}
.price{
    font-family: var(--font-primary);
    font-size: var(--text-md);
}
#line-3{
    margin-top: 1vh;
    transform: scale(1.1);
}
.shipping-price{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}
.shipping-price-title{
    margin-right: auto;
    font-family: var(--font-secondary);
    font-size: var(--text-md);
}
.shipping-price-discount{
    font-family: var(--font-primary);
    font-size: var(--text-md);
    color: var(--colour-discount);
    text-decoration: line-through;
}
.shipping-price-tips{
    margin-top: 1vh;
    font-family: var(--font-secondary);
    font-size: var(--text-sm);
    color: rgba(0, 0, 0, 0.8);
}
.total{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}
.total-title{
    margin-right: auto;
    font-family: var(--font-secondary);
    font-size: var(--text-md);
}
.total-price{
    font-family: var(--font-primary);
    font-size: var(--text-md);  
}
.afterpay{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.afterpay img{
    transform: scale(0.8);
}
.afterpay-tips{
    margin-right: auto;
    font-family: var(--font-secondary);
    font-size: var(--text-sm);
    color: rgba(0, 0, 0, 0.8);
}

.payment-title{
    margin-top: 25vh;
    margin-right: auto;
    font-family: var(--font-secondary);
    font-size: var(--text-md);
}
.payment-methods{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vh;
    transform: scale(0.8);
}
.payment-methods > * + *{
    margin-left: 5px;
}
.justify-btn{
    margin-top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-placeorder{
    width: 355px;
    height: 45px;
}







/* Style for mobile version------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width:850px) {
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    .checkout-body{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        align-items: center;
    }
    /* Style for header-mobile */
    .header{
        display: none;
    }
    .mobile-header{
        display: block;
        position: relative;
    }
    .mobile-header img{
        position: absolute;
        left: 3vw;
        top: 2vh;
    }
    /* Style for the logo */
    .logo-title img{
        transform: scale(0.8);
    }
    /* Hide shopping bag for mobile */
    .shopping-bag{
        display: none;
    }
    /* Style for mobile forms */
    .forms{
        margin-left: 0;
        width: 100vw;
    }
    .forms-login{
        transform: scale(0.9);   
    }
    .forms-login > * + *{
        margin-left: 10px;
    }
    .cut-off-line{
        width: 95vw;
    }  
    .forms-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .forms-body-title{
        margin-left: 5%;
    }
    #First-name{
        width: 90vw;
    }
    #Last-name{
        width: 90vw;
    }
    #Country-Region{
        width: 90vw;
    }
    #Street-Address{
        width: 69vw;
    }
    #Postcode{
        width: 20vw;
    }
    #Suburb{
        width: 44vw;
    }
    #State{
        width: 45vw;
    }
    #Email{
        width: 90vw;
    }
    #Phone{
        width: 90vw;
    }
    /* Style for body-payments-mobile*/
    .payments{
        margin-top: 5vh;
        margin-left: 0;
        margin-right: 0;
        width: 90vw;
    }

    .payment-title{
        margin-top: 5vh;
        margin-right: auto;
        font-family: var(--font-secondary);
        font-size: var(--text-md);
    }
    .payment-methods{
        width: 90vw;
        transform: scale(0.93);
    }
    .payment-methods > * + *{
        margin-left: 5px;
    }
    .justify-btn{
        margin-top: 0.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}