:root{
    --colour-primary:  #B95084;
    --colour-secondary: #F29F91;
    --colour-discount: #FF0783;
    --colour-saleBar: rgba(185, 80, 132, 0.66);
    --colour-originalPrice: #BABABA;
    --colour-footer: #5C3247;
}