.FilterName {
    font-size: var(--text-xl);
    font-family: var(--font-primary);
}
.topline {
    width: 100%;
    text-align: center;
}
/* filter work space */
.filterSpace {
    width: 80%;
    height: auto;
    align-items: center;
}
/* filter items display */
.filterContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.column {
    width: 100%;
    margin-right: 20px;
    padding:5px;
    border-right: 1px black;
}
.topic {
    width: auto;
    margin-bottom: 10px;
}

.topic p {
    font-style: bold;
    color: blueviolet;
    font-size: var(--text-lg);
    font-family: var(--font-primary);
}

.subContent p {
    width: auto;
    margin-bottom: 5px;
    font-size: var(--text-md);
    font-family: var(--font-secondary);

    
}

.firstLine {
    display: inline-block;
}

.firstSizeLine {
    display: inline-block;
}
.sizeLineOne img {
    width: 30px;
    height: 30px;
}
.sizeLineTwo img {
    width: 30px;
    height: 30px;

}
.secondSizeLine {
    display: inline-block;
}
.lineOne img {
    width: 20px;
    height: 20px;
}

.lineTwo img {
    width: 20px;
    height: 20px;
}


.confirmButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 5%;
    background-color: pink;
    text-align: center;
}
