/* general work space */

ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
}
li {
    list-style: none;
}

/* make items in line */
.mobileContainer {
    display: none;
}

.NAVcontainer {
    display: flex;
    justify-content: space-between;
}

.leftPart {
    list-style: none;
    display: flex;
    align-items: center;
}

.rightPart {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.left-content {
    margin-right: 10px; 
}

.rightICON {
     margin-left: 20px; 
     width: 20px;
     height: 20px;
     cursor: pointer;
     z-index: 0;
     
}

.dropDownName {
    display: inline-block;
    color: black;
    font-size: var(--text-lg);
    font-family: var(--font-primary);
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;
}

.dropDownName:hover {
    color: #a73c71;
    text-decoration: underline;
}
/* left part content */
.logo {
    width: auto;
    height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

.dropDownItems {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    height: 60vh;
    z-index: 1;
    margin-top: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}
.dropDownName:hover + .dropDownItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.dropDownItems .items {
    margin: 30px;

}

.dropDownItems .items img {
    display: block;
    width: 160px;
    height: 260px;
    object-fit: cover;
}
.newContainer{
    height: 100%;
    width: 100%;
}
.newContainer img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.decribe{
    height: 10%;
}




/* description for content */
.items {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 140px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.introduce {
    flex-grow: 1;
    padding: 10px;
    font-style: bold;
    color: aliceblue;
    position: absolute;
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    font-style: bold;
}
.newContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.decribe {
    text-align: center;
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    margin-top: 5px;
}
.priceChange {
    display: inline-block;
    font-family: var(--font-primary);
    font-size: var(--text-sm);
}
.expand {
    display: none;
}

/* mobile vision */
@media screen and (max-width:850px) {
    .NAVcontainer {
        display: none;
    }
    .mobileContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
    }
    .mobile-left,
    .mobile-mid,
    .mobile-right {
        width: 33%; 
    }
    .mobile-left {
        display: flex;
        justify-content: flex-start;
    }
    .mobile-mid {
        display: flex;
        justify-content: center;
    }
    .mobile-right {
        display: flex;
        justify-content: flex-end;
    }
    .decribe p {
        font-family: var(--font-primary);
        font-size: var(--text-md);
        margin-top: 5px;

    }

    /* images size edit */
    .mobile-left img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: 15px;
        margin-left: 5px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .mobile-mid h5 {
        height: 20px;
        width: auto;
        margin-top: 15px;
        font-family: var(--font-primary);
        font-size: var(--text-lg);
        cursor: pointer;
        text-decoration: none;

    }
    .mobile-right img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        cursor: pointer;;
    }

    /* menu expand */
    .expand {
        width: 0%;
        background-color: white;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    }
    .expand li {
        font-family: var(--font-primary);
        font-size: var(--text-md);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mobile-back {
        float: right;
        margin-right: 8px;
        width: 12px;
        height: 12px;
    }

    .sub {
        margin-left: 15px;
    }
    .main {
        margin-left: 8px;
    }
    #showsub {
        width: 12px;
        height: 12px;
        float: right;
        margin-right: 8px;
        transform: rotate(180deg);
    }

    

}