.workSpace {
display: flexbox;
width: auto;
height: auto;
justify-content: center;
align-items: center;
}

.coverImage {
    background-image: none;
    font-size: 68.54px;
    flex-basis: 70%;
    font-style: bold;
    flex-basis: 70%;
    text-align: center;    
}
.product-display {

}
.product {

}