.workSpace {
    width: 100%;
    height: auto;
    justify-content: center;

}
.coverImage {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 300px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    background-image: url(/Users/ryanwang/Desktop/project3/UID-A3/images/product-list/Esmaee-Rosewood-Blouse-A-1.webp);
    font-style: bold;
    text-align: center;  
    background-position: 50% 15%;  
}
.coverImage h2 {
    flex-grow: 1;
    padding: 10px;
    font-style: bold;
    color: aliceblue;
    
}
.tab-bar {
    display: flex;
    height: auto;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.tab-l p {
    display: inline-block;
    font-size: var(--text-md);
    font-family: var(--font-primary);
}

.tab-r p{
    display: inline-block;
    font-size: var(--text-md);
    font-family: var(--font-primary);
}
.productContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 14px;
}
.product-display {

}
.product img {
    width: 100%;
    max-width: 290px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
}
.product p {
    font-size: 16.18px;
    font-size: var(--text-md);
    font-family: var(--font-primary);
}

.Name {
    text-align: center;
    margin-bottom: 5px;
}

.Priceandlike {
    display: inline-block;
    margin-bottom: 5px;
}
.pricecontainer {
    display: flex;
    justify-content: space-between;
}

.pricecontainer img {
    height: auto;
    width: auto;
}

.color {
    align-items: center;
}
.colorline {
    width: auto;
    height: auto;
}