
.coverImage {
    width: 80%;
    height: 555px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    background-color: brown;
    font-size: 68.54px;
    font-style: bold;
    text-align: center;    
}
.product-display {

}
.product {

}