.body{
    display: flex;
    flex-direction: column;
}
.menu-bar{
    height: 10vh;
}
/* Style for search title */
.search-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-title h2{
    color: #B95084;
}
/* Style for search result body */
.searchResult{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.result-title{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}
.result-title p{
    font-family: var(--font-primary);
    font-size: var(--text-lg);
    color: #B95084;
}
.result-qty{
    position: absolute;
    left: 48%;
}