@import url(colour.css);
@import url(typography.css);
@import url(https://use.typekit.net/kje5clb.css);

/* Style for button */
/* btn in homepage */
.btn{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: var(--font-secondary);
    text-decoration: none;
}
/* --------------------------------------------- */
.btn-primary{ 
    color: black;
    border: 1px solid black;
    transition: all 0.2s;
}
.btn-homepage{
    font-size: var(--text-lg); 
    width: 300px;
    height: 88px;
}
.btn-homepage:hover{
    box-shadow: inset 12em 0 0 1px var(--colour-primary);
    color: white;
}
.btn-productDetail{
    font-size: var(--text-md);  
    width: 430px;
    height: 52px;
    margin-top: 5px;
}
.btn-productDetail:hover{
    box-shadow: inset 27em 0 0 1px var(--colour-primary);
    color: white;
}
/* ----------------------------------------------- */
.btn-secondary{
    color: white;
    background-color: var(--colour-primary);
}
.btn-secondary:hover{
    background-color: var(--colour-primaryHover);
}
.btn-bag{
    font-size: var(--text-md);
    width: 95%;
    height: 50px;
}
.btn-checkout{
    font-size: var(--text-md);
    width: 100%;
    height: 5vh;
}
.btn-login{
    width: 200PX;
    height: 50PX;
    font-size: var(--text-md);
}
.btn-pDMobile{
    font-size: var(--text-md);
    width: 85%;
    height: 18%;
}
/* -------------------------------------------------- */
.btn-back{
    font-size: var(--text-md);
    color: white;
    background-color: var(--colour-secondary);
}
.btn-back:hover{
    background-color: var(--colour-secondaryHover);
}
/* Style for price */
.price{
    font-family: var(--font-primary);
    font-size: var(--text-md);
    font-style: normal;
    text-align: center;
}
.price-origin{
    font-family: var(--font-primary);
    font-size: var(--text-md);
    font-style: normal;
    color: var(--colour-originalPrice);
    text-decoration: line-through;
    display: inline;
}
.price-on-sale{
    font-family: var(--font-primary);
    font-size: var(--text-md);
    font-style: normal;
    color: var(--colour-discount);
    display: inline;

}
/* Style for size btn */
.size{
    font-family: var(--font-secondary);
    font-size: var(--text-md);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
}
/* Style for separation line */
.line{
    border-bottom: 1.5px solid rgba(184, 184, 184, 0.5);
}